@font-face {
    font-family: 'arbatctt';
    src: url('../fonts/arbatctt.ttf') format('truetype'),
    url('../fonts/arbatctt.woff') format('woff'),
    url('../fonts/arbatctt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
